<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>retroconnexion</name>
	<displayName><![CDATA[Retro Rococo Connexion]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Retro Rococo Connexion let you connect your NodeJS app to Prestashop]]></description>
	<author><![CDATA[Mathias KLIEM]]></author>
	<tab><![CDATA[others]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
